<div class="index">
  <h1>All tasks</h1>
  <ul class="mt-4">
    <% @tasks.each do |task| %>
      <%# <li> <%= task.title %> </li>
      <li><%= link_to task.title, task_path(task) %></li>
    <% end %>
  </ul>
</div>
